* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 34px;
  text-align: center;
  margin-bottom: 30px;
}

p {
  margin-top: 10px;
  font-size: 20px;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: aliceblue;
  overflow: hidden;
}

.main-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #93cb52;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-submit:focus {
  outline: 0;
}

.form-submit {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: steelblue;
  padding: 15px;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.form-group {
  width: 300px;
}

.form-group input {
  background: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer .main-container {
  background-color: #fff;
  font-size: 20px;
}

/* home */
#home {
  background: url("https://media.istockphoto.com/photos/healthcare-business-concept-medical-examination-and-growth-graph-data-picture-id1274428125?b=1&k=20&m=1274428125&s=170667a&w=0&h=EpVLrYgklXI3RQkO6Bh04zBcW2BE85BBqbSjQc-oip8=")
    no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#home .home-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}
